html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* palette */
:root {
  --ios-gray-dark-100: rgb(142, 142, 147);
  --ios-gray-dark-200: rgb(99, 99, 102);
  --ios-gray-dark-300: rgb(72, 72, 74);
  --ios-gray-dark-400: rgb(58, 58, 60);
  --ios-gray-dark-500: rgb(44, 44, 46);
  --ios-gray-dark-600: rgb(28, 28, 30);

  --ios-gray-light-100: rgb(142, 142, 147);
  --ios-gray-light-200: rgb(174, 174, 178);
  --ios-gray-light-300: rgb(199, 199, 204);
  --ios-gray-light-400: rgb(209, 209, 214);
  --ios-gray-light-500: rgb(229, 229, 234);
  --ios-gray-light-600: rgb(242, 242, 247);
}

#root {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

#scatter-area {
  width: 100%;
  height: 100%;
}

#scatter-area.predict > circle.dot {
  opacity: 0.15;
}

.kmeans-utils-area {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 56px;
  height: 56px;
  margin: 1rem;

  z-index: 3;
}

.kmeans-utils-items {
  position: absolute;

  left: 0;
  /* burger zone + gap */
  top: calc(-224px - 24px);
  height: calc(224px + 16px);
  gap: 8px;

  display: flex;
  flex-direction: column;

  overflow: visible;
}

.kmeans-utils-items > button {
  opacity: 0;
}

.kmeans-utils-items > button:nth-of-type(1) {
  transform: translateY(249px);

  animation: open-utils 0.5s linear forwards;
}

.kmeans-utils-items > button:nth-of-type(2) {
  transform: translateY(187px);

  animation: open-utils 0.4s linear forwards;
}

.kmeans-utils-items > button:nth-of-type(3) {
  transform: translateY(125px);

  animation: open-utils 0.3s linear forwards;
}

.kmeans-utils-items > button:nth-of-type(4) {
  transform: translateY(63px);
  animation: open-utils 0.2s linear forwards;
}

@keyframes open-utils {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.kmeans-utils-btn.menus {
  position: relative;
  z-index: 4;
}

.kmeans-utils-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;

  border: none;
  cursor: pointer;
  background-color: var(--ios-gray-dark-600);
  border-radius: 100%;

  transition: 0.35s;
}

.kmeans-utils-btn.inactive {
  background-color: var(--ios-gray-dark-500);
}

.kmeans-utils-btn.inactive path {
  stroke: var(--ios-gray-light-100);
}

.kmeans-utils-btn > svg {
  width: 60%;
  height: 60%;
}

.kmeans-utils-btn > .utils-burger > path {
  stroke: var(--ios-gray-light-600);
  stroke-width: 5;
  stroke-linecap: round;

  transition: 0.35s;
  transition-delay: 0.1s;
}

.kmeans-utils-btn > .utils-burger > path:nth-last-of-type(1) {
  transform-origin: 100% 100%;
}

.kmeans-utils-btn > .utils-burger > path:nth-last-of-type(2) {
  opacity: 0;
}

.kmeans-utils-btn > .utils-burger > path:nth-last-of-type(4) {
  transform-origin: 0% 0%;
}

.kmeans-utils-btn:hover {
  transform: translate(-3px, -3px);
}

.kmeans-utils-btn:hover > .utils-burger > path:nth-last-of-type(1) {
  transform: translate(-11px) rotate(90deg);
}

.kmeans-utils-btn:hover > .utils-burger > path:nth-last-of-type(2) {
  opacity: 1;
  transform: translate(0, -19px);
}

.kmeans-utils-btn:hover > .utils-burger > path:nth-last-of-type(3) {
  transform: translate(0, 23px);
}

.kmeans-utils-btn:hover > .utils-burger > path:nth-last-of-type(4) {
  transform: translate(9px) rotate(90deg);
}

.kmeans-utils-btn.open > .utils-burger > path:nth-last-of-type(1) {
  opacity: 0;
}

.kmeans-utils-btn.open > .utils-burger > path:nth-last-of-type(2) {
  opacity: 1;
  transform-origin: 50% 50%;
  transform: translate(-2px) rotateZ(45deg);
}

.kmeans-utils-btn.open > .utils-burger > path:nth-last-of-type(3) {
  transform-origin: 50% 50%;
  transform: rotateZ(-45deg);
}

.kmeans-utils-btn.open > .utils-burger > path:nth-last-of-type(4) {
  opacity: 0;
}

.kmeans-utils-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;

  border: none;
  cursor: pointer;
  background-color: var(--ios-gray-dark-600);
  color: var(--ios-gray-light-600);
  border-radius: 100%;

  transition: 0.35s;
}

.gen-dot {
  position: fixed;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  background-color: var(--ios-gray-dark-200);
  border-radius: 100%;

  z-index: 1;

  opacity: 0;
}

.kmeans-utils-btn path {
  stroke: var(--ios-gray-light-600);
  stroke-width: 5;
  stroke-linecap: round;
}

.kmeans-utils-btn > .utils-gen > path {
  transition: 0.35s;
  transition-delay: 0.1s;
  transform-origin: 50% 50%;
}

.kmeans-utils-btn.gen > .utils-gen > path:nth-of-type(1) {
  transform: rotateZ(45deg);
}

.kmeans-utils-btn.gen > .utils-gen > path:nth-of-type(2) {
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
}

.kmeans-utils-btn > .utils-set-length {
  transform: rotateZ(780deg);
  transition: 0.35s;
}

.kmeans-utils-btn > .utils-set-length > path {
  stroke-dasharray: 21;
  stroke-dashoffset: 20;
  transition: 0.35s;
}

.kmeans-utils-btn.set-length > .utils-set-length {
  transform: rotateZ(0);
}

.kmeans-utils-btn.set-length > .utils-set-length > path {
  stroke-dashoffset: 0;
}

.kmeans-utils-btn > .utils-set-K > path {
  transform-origin: 50% 50%;
  transition: 0.35s;
}

.kmeans-utils-btn > .utils-set-K > path.power-round {
  fill: transparent;
  stroke-dasharray: 81;
}

.kmeans-utils-btn > .utils-set-K > path:not(.power-round) {
  transform: scaleY(0.4) translateY(-30px);
}

.kmeans-utils-btn.set-K > .utils-set-K > path:nth-of-type(1) {
  transform: rotate(45deg);
}

.kmeans-utils-btn.set-K > .utils-set-K > path:nth-of-type(2) {
  transform: rotate(-45deg);
}

.kmeans-utils-btn.set-K > .utils-set-K > path.power-round {
  stroke-dashoffset: -81;
  opacity: 0;
}

.kmeans-utils-btn.utils-clear > svg {
  overflow: visible;
}

.kmeans-utils-btn.utils-clear > svg > path.garbage-hat {
  transform-origin: 50% 50%;
  transition: 0.35s;
}

.kmeans-utils-btn.utils-clear:hover > svg > path.garbage-hat {
  /* transform: translateX(10px) translateY(-30px) rotateZ(45deg); */
  transform: translateY(-10px) rotateZ(20deg);
}

@keyframes modal-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.set-modal-container {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--ios-gray-light-600);

  background: var(--ios-gray-dark-500);
  z-index: 2;

  opacity: 0;
  animation: modal-fadein 0.3s 0.01s linear forwards;
}

.set-modal-container > .modal-question-group {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 8px;
}

.set-modal-container > .modal-question-group > span {
  font-size: 24px;

  /* display: flex;
  align-items: center; */
  /* line-height: 100px; */
}

.set-modal-container > .modal-question-group > input {
  background: transparent;
  border: 0;

  color: var(--ios-gray-light-600);
  font-size: 24px;
  padding: 0 10px 3px;

  outline: none;
}

@media screen and (max-width: 768px) {
  .set-modal-container {
    padding-bottom: 20%;
    box-sizing: border-box;
  }

  .set-modal-container > .modal-question-group > span {
    font-size: 16px;

    /* display: flex;
    align-items: center; */
    /* line-height: 100px; */
  }

  .set-modal-container > .modal-question-group > input {
    font-size: 16px;
    padding: 0 6px 0px;
    width: 24px;
  }
}

.set-modal-container > .highlight-group {
  position: absolute;
}

.set-modal-container > .highlight-group > .highlight-line {
  overflow: visible;
  position: absolute;
}

.set-modal-container > .highlight-group > .highlight-line > path {
  stroke: var(--ios-gray-light-600);
  stroke-width: 2;
  fill: transparent;
}

.set-modal-container > .highlight-group > .highlight-button {
  position: absolute;

  background: transparent;
  border: none;
  transition: 0.3s;

  padding: 0;
}

.set-modal-container > .highlight-group > .highlight-button:hover {
  transform: translateX(10px);
}

.set-modal-container > .highlight-group > .highlight-button > svg {
  overflow: visible;
  cursor: pointer;
  fill: none;
}

.set-modal-container > .highlight-group > .highlight-button > svg > path {
  stroke: var(--ios-gray-light-600);
  stroke-width: 2;
  stroke-linecap: round;
}

.kmeans-run-toolbar {
  position: fixed;
  top: 8px;
  left: calc(50% - 170px);
  width: 340px;

  background: var(--ios-gray-dark-600);
  color: var(--ios-gray-light-600);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 0px;
  border-radius: 1rem;
  column-gap: 16px;

  z-index: 5;

  animation: run-mode 0.3s linear forwards;
}

@keyframes run-mode {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}

.kmeans-run-toolbar > button {
  background: transparent;
  border: none;
  color: var(--ios-gray-light-600);
  padding: 0 2px;

  cursor: pointer;
}

.kmeans-run-toolbar > span {
  font-style: italic;
}

.kmeans-run-toolbar path {
  stroke: var(--ios-gray-light-600);
  fill: var(--ios-gray-light-600);
  /* fill: transparent; */
}

.kmeans-run-toolbar svg {
  width: 24px;
  height: 24px;
}

.kmeans-run-toolbar .iter-refresh > svg {
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
}

.kmeans-run-toolbar .iter-refresh > svg > path {
  fill: transparent;
  stroke-width: 3;
  stroke-linecap: round;
}

.frame-count {
  position: fixed;
  z-index: 255;
  bottom: 0;

  font-size: 48px;
  font-weight: bold;
  padding: 8px 12px;
}
